<div class="container">
  <div class="row justify-content-md-center mt-5">
    <div class="col-5 text-center border-bottom">
      <h4 class="px-4">投稿一覧</h4>
    </div>
  </div>
  <div class = "row justify-content-md-center text-success mt-3"><%= flash[:review] %></div>
  
  <div class="row justify-content-center mt-5">
    <table class="table table-bordered text-center">
      <thead class="table-info text-center">
        <th class="col-3">漫画タイトル</th>
        <th class="col-5">感想</th>
        <th class="col-2">AI分析評価</th>

      </thead>
      <tbody>
        <% if @reviews.any? %>
          <% @reviews.each do |review| %>
            <tr>
              <td>
                <%= link_to review.comic.title, comic_path(review.comic) %>
              </td>
              <td>
                <%= review.body %>
              </td>
              <td>
                <span class="sentiment-score"><%= review.score %></span>
              </td>
            </tr>
          <% end %>
        <% else %>
          <p>まだ投稿がありません。</p>
        <% end %>
      </tbody>
    </table>
  </div>

  <div class = "row justify-content-center mt-3 mb-5">
    <div class="col-auto ">
      <%= link_to "新規投稿", new_review_path, class: "btn btn-success" %>
    </div>
  </div>
</div>