<div class="container">
  <div class="row justify-content-md-center mt-5">
    <div class="col-5 text-center border-bottom">
      <h4 class="px-4">投稿詳細画面</h4>
    </div>
  </div>

  <div class="row justify-content-center mt-5">
    <table class="table table-bordered">
      <tbody class="text-center">
        <tr class="col-12">
          <th class="col-3 table-info">漫画タイトル</th>
          <td class="col-9"><%= @review.title %></td>
        </tr>
        <tr>
          <th class="col-3 table-info">感想</th>
          <td class="col-9"><%= @review.body %></td>
        </tr>
      </tbody>
    </table>
  </div>
  
  <div class="row justify-content-center mt-5">
      <div class="col-auto">
        <%= link_to "投稿一覧", reviews_path, class: "btn btn-info" %>
      </div>
      <div class="col-auto">
        <%= link_to "編集する", edit_review_path, class: "btn btn-success" %>
      </div>
      <div class="col-auto">
        <%= link_to "削除", review_path(@review), class: "btn btn-danger", method: :delete %>
      </div>
  </div>
</div>