<div class="container">
  <div class="row justify-content-md-center mt-5">
    <div class="col-5 text-center border-bottom">
      <h4 class="px-4">新規会員登録</h4>
    </div>
  </div>

  <%= form_with model: @user, url: "/users", method: :post do |f| %>
    <%= render "member/shared/error_messages", resource: @user %>

    <div class="row justify-content-md-center my-5">
      <div class="col-3 text-right">ニックネーム</div>
      <div class="col-3">
        <%= f.text_field :nickname, autofocus: true, autocomplete: "nickname", placeholder: "ニックネーム" %>
      </div>
    </div>

    <div class="row justify-content-md-center my-5">
      <div class="col-3 text-right">メールアドレス</div>
      <div class="col-3">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "sample@example.com" %>
      </div>
    </div>

    <div class="row justify-content-md-center mb-5">
      <div class="col-3 text-right">パスワード
        <% if @minimum_password_length %>
          （<%= @minimum_password_length %>文字以上）
        <% end %>
      </div>
      <div class="col-3">
        <%= f.password_field :password, autocomplete: "new-password" %>
      </div>
    </div>

    <div class="row justify-content-md-center mb-5">
      <div class="col-3 text-right">パスワード（確認用）</div>
      <div class="col-3">
        <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
      </div>
    </div>

    <div class="row justify-content-md-center mb-5">
      <div class="col-auto">
        <%= f.submit "新規会員登録", class: "col btn btn-success" %>
      </div>
    </div>
  <% end %>
</div>