<div class="container">
  <div class="row justify-content-md-center mt-5">
    <div class="col-5 text-center border-bottom">
      <h4 class="px-4">漫画一覧</h4>
    </div>
  </div>

  <div class="row mt-5">
    <% @comics.each do |comic| %>
      <div class="col-12 col-md-4 col-lg-3">
        <div class="card mb-4" style="max-width: 260px;">
          <div class="card-img-top" style="height: 200px; background-color: #f8f9fa;">
          <%= image_tag comic.image.attached? ? comic.image : 'no_image.jpg', class: 'img-fluid', style: 'width: 100%; height: 100%; object-fit: contain;' %>
          </div>
          <div class="card-body">
            <h5 class="card-title"><%= link_to comic.title, comic_path(comic) %></h5>
            <p class="card-title">発売中 : <%= comic.volume %>巻</p>
            <p class="card-title">次巻発売日 : <%= comic.next_date.strftime("%Y年%m月%d日") %></p>
            <div class="d-flex justify-content-between">
              <% if current_user.bookshelves.exists?(comic_id: comic.id) %>
                <%= button_to 'いいね解除', comic_bookshelf_path(comic), method: :delete, class: 'btn btn-danger', remote: true %>
              <% else %>
                <%= button_to 'いいね', comic_comic_bookshelves_path(comic), method: :post, class: 'btn btn-success', remote: true %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
