<div class="container">
  <div class="row justify-content-md-center mt-5">
    <div class="col-5 text-center border-bottom">
      <h4 class="px-4">ジャンル一覧</h4>
    </div>
  </div>
  
  <div class = "row justify-content-md-center text-success mt-3"><%= flash[:genre] %></div>
  
  <div class="row my-5">
    <% @genres.each do |genre| %>
      <div class="col-3 shadow-sm text-center border-bottom mt-2">
        <%= link_to genre.name, edit_admin_genre_path(genre) %>
      </div>
    <% end %>
  </div>
  
  <div class="row justify-content-md-center mt-5">
    <div class="col-5 text-center border-bottom mt-5">
      <h4 class="px-4">ジャンル登録</h4>
    </div>
  </div>
  
  <div class="row justify-content-md-center">
    <div class="col-10">
      <%= form_with model: @genre, url: '/admin/genres', method: :post do |f| %>
        <div class="row justify-content-md-center mt-5">
          <div class="col-3 text-center">ジャンル</div>
          <div class="col-3">
            <%= f.text_field :name, autofocus: true, autocomplete: "name", placeholder: "ジャンル" %>
          </div>
        </div>

        <div class="row justify-content-md-center my-3">
          <div class="col-auto">
            <%= f.submit "新規登録", class: "col btn btn-success" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  
  
</div>