<div class="container">
  <div class="row justify-content-md-center mt-5">
    <div class="col-5 text-center border-bottom">
      <h4 class="px-4">ログイン</h4>
    </div>
  </div>
  
  <div class= "container mt-5">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="row justify-content-md-center mb-5">
        <div class="col-3 text-right">メールアドレス</div>
        <div class="col-3">
          <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "sample@example.com" %>
        </div>
      </div>
      
      <div class="row justify-content-md-center mb-5">
        <div class="col-3 text-right">パスワード</div>
        <div class="col-3">
          <%= f.password_field :password, autocomplete: "current-password" %>
        </div>
      </div>
      
      <div class="row justify-content-md-center">
        <% if devise_mapping.rememberable? %>
          <div class="col-auto">
            <%= f.check_box :remember_me %>
            <%= f.label :ログイン情報を記録する %>
          </div>
        <% end %>
      </div>
      
      <div class="row justify-content-md-center mb-5">
        <div class="col-auto">
          <%= f.submit "ログイン", class: "col btn btn-success" %>
        </div>
      </div>
    <% end %>
</div>