<div class="container">
  <div class="row justify-content-md-center mt-5">
    <div class="col-5 text-center border-bottom">
      <h4 class="px-4">漫画新規登録</h4>
    </div>
  </div>
  
  <div class = "row justify-content-md-center text-success mt-3"><%= flash[:comic_alert] %></div>
  
  <%= form_with model: @comic, url: admin_comics_path(@comics), method: :post do |f| %>
  
    <div class="row justify-content-md-center my-5">
      <div class="col-3 text-right">漫画タイトル</div>
      <div class="col-3">
        <%= f.text_field :title, autofocus: true, autocomplete: "title", placeholder: "漫画タイトル" %>
      </div>
    </div>
    
    <div class="row justify-content-md-center my-5">
      <div class="col-3 text-right">既巻数</div>
      <div class="col-3">
        <%= f.text_field :volume, autofocus: true, autocomplete: "volume", placeholder: "既巻数" %>
      </div>
    </div>
    
    <div class="row justify-content-md-center my-5">
      <div class="col-3 text-right">次巻発売日</div>
      <div class="col-3">
        <%= f.text_field :next_date, autofocus: true, autocomplete: "next_date", placeholder: "次巻発売日" %>
      </div>
    </div>
    
    <div class="row justify-content-md-center mb-5">
      <div class="col-auto">
        <%= f.submit "漫画新規登録", class: "col btn btn-success" %>
      </div>
    </div>
  <% end %>
</div>