<nav class="navbar navbar-expand-lg navbar-light justify-content-center" style ="background-color:#f8f8ff;">
  <div class="container">
    <a class="navbar-brand" href="/"><%= image_tag "Mycomics_2.png", size: "150x80" %></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav ml-auto">
        <% if user_signed_in? %>
          <li class="nav-item">
            <%= link_to user_path, class: "nav-link text-dark text-right" do %>
              <button class="btn" style="background-color:#ff7f50">マイページ</button>
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to comics_path, class: "nav-link text-dark text-right" do %>
              <button class="btn" style="background-color:#00bfff">漫画一覧</button>
            <% end %>
          </li>

          <li class="nav-item">
            <%= link_to bookshelves_path, class: "nav-link text-dark text-right" do %>
              <button class="btn" style="background-color:#ccff99">My本棚<i class="fa-sharp-duotone fa-solid fa-books"></i></button>
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to destroy_user_session_path, method: :delete, class: "nav-link text-dark text-right" do %>
              <button class="btn" style="background-color:#ffd700">ログアウト</button>
            <% end %>
          </li>
        <% else %>

          <li class="nav-item ">
            <%= link_to comics_path, class: "nav-link text-dark text-right" do %>
              <button class="btn" style="background-color:#00bfff">漫画一覧</button>
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to new_user_registration_path, class: "nav-link text-dark text-right" do %>
              <button class="btn" style="background-color:#ccff99">新規登録</button>
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to new_user_session_path, class: "nav-link text-dark text-right" do %>
              <button class="btn" style="background-color:#ffd700">ログイン</button>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>